################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Earthworm/.vs/Earthworm/v17
/.vs
/Earthworm/Library
/Earthworm/Earthworm/obj
/Earthworm/Earthworm/bin
